html {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}
body {
  margin: 0;
}

header {
  position: fixed;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;

}
.flex-container {
  display: flex;
  justify-content: space-between;


}

nav span  a {
  display: inline-block;
  font-size: 22px;
  margin: auto 15px;
  color: seashell;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;

}

main .mission {
  margin-top: 69px;
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

 h2, h4, h3, h5, p {
  color: seashell;
  opacity: 0.9;
}

.banner {
  background-color: black;
  width: 1200px;
}


.feature {
  width: 1000px;
  background-color: black;
}

.supporting {
  text-align: center;
}

.teas img {
  width: 300px;
  height: 200px;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.t-pic {
  text-align: center;
  margin: 10px;

}

.locations {
  display:block;
  width: 1200px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.l-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
}

.loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: black;
  margin-right: 40px;
  opacity: 1;
}
.footer {
  height: 200px;
  width: 100%;
  background-color: black;
  text-align: center;
}

.copyright {
  text-align: left;
  width: 100%;
  margin-left: 20px;
}
